@using SchemaExplorer.Core
<div class="root-type-container">
    <h2>@RootType.Name</h2>
    <p>Root type directives:</p>
    <div class="directives">
        @foreach (var role in RootType.Roles)
        {
            <div class="directive-item">@role</div>
        }
    </div>

    <h3>Fields</h3>
    <div class="resolvers-container">
        @foreach (var resolver in RootType.Fields)
        {
            <div class="resolver">
                <div class="resolver-name">@resolver.Name</div>
                <div class="directives">
                    @foreach (var role in resolver.Roles)
                    {
                        <div class="directive-item">@role</div>
                    }
                    
                    @if (HasNoAuthorization(resolver))
                    {
                        <div class="critical">Unauthorized field</div>
                    }
                    
                    @if (HasMissingRoles(resolver))
                    {
                        <div class="warning">Potential missing roles (has authorize directive: @resolver.HasAuthorization)</div>
                    }
                </div>
            </div>
        }
    </div>
</div>

@code {

    [Parameter]
    public RootType RootType { get; set; }

    private bool HasNoAuthorization(FieldType resolver)
    {
        return !RootType.HasAuthorization && !resolver.HasAuthorization;
    }

    private bool HasMissingRoles(FieldType resolver)
    {
        return RootType is { HasAuthorization: true,Roles.Length: 0 } && resolver.Roles.Length == 0;
    }

}